# EDA of Stock Price Data Sources

## Import Libraries

In [39]:
## Import Libraries
import sqlite3
import pandas as pd
from pandas.io import sql
from dateutil import parser
import yfinance as yf

## Load data from MacroTrends (Data Provider: NASDAQ) 
Does not take into account stock split

In [3]:
macro_trends_df = pd.read_csv(r"C:\Users\koh_k\Downloads\Institute of Data\iod_capstone\data\MacroTrends_Data_Download_TSLA.csv")

In [4]:
macro_trends_df_2019_2024= macro_trends_df.loc[2141:,:]
macro_trends_df_2019_2024=macro_trends_df_2019_2024.reset_index(drop=True)
macro_trends_df_2019_2024['date']=pd.to_datetime(macro_trends_df_2019_2024['date'], dayfirst=True).dt.date

In [5]:
macro_trends_df_2019_2024.head()

         date     open     high      low    close    volume
0  2018-12-31  22.5193  22.6139  21.6839  22.1866   6302332
1  2019-01-02  20.4066  21.0086  19.9199  20.6746  11658638
2  2019-01-03  20.4667  20.6267  19.8253  20.0240   6965198
3  2019-01-04  20.4000  21.2000  20.1820  21.1793   7394118
4  2019-01-07  21.4479  22.4493  21.1833  22.3306   7551218

In [6]:
macro_trends_df_2019_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1656 entries, 0 to 1655
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1656 non-null   object
 1   open    1656 non-null   float64
 2   high    1656 non-null   float64
 3   low     1656 non-null   float64
 4   close   1656 non-null   float64
 5   volume  1656 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 77.8+ KB

### Check for days markets were closed

In [7]:
## There exists some days where markets close due to a variety of factors, find missing dates? 
missing_dates=pd.date_range(start = macro_trends_df_2019_2024['date'].min(), end = macro_trends_df_2019_2024['date'].max(), freq = 'D').difference(macro_trends_df_2019_2024['date'])
print(f"Number of Datapoints:\t{len(macro_trends_df_2019_2024)}\nNo. Dates Markets Closed:\t{len(missing_dates)}\nDates:\t{missing_dates}")

Number of Datapoints:	1656
No. Dates Markets Closed:	750
Dates:	DatetimeIndex(['2019-01-01', '2019-01-05', '2019-01-06', '2019-01-12',
               '2019-01-13', '2019-01-19', '2019-01-20', '2019-01-21',
               '2019-01-26', '2019-01-27',
               ...
               '2025-06-29', '2025-07-04', '2025-07-05', '2025-07-06',
               '2025-07-12', '2025-07-13', '2025-07-19', '2025-07-20',
               '2025-07-26', '2025-07-27'],
              dtype='datetime64[ns]', length=750, freq=None)

In [8]:
#conn = sqlite3.connect("data/news_sentiment.db")
#conn.close()

## Load data from Yahoo! Finance (Data Source: Heterogeneous)
Takes into account stock splits and thus inflates volume numbers

In [9]:
tsla=yf.Ticker("TSLA")

In [10]:
tsla_2019_2024=tsla.history(start='2018-12-31',end='2025-07-31',interval='1d')

In [11]:
tsla_2019_2024

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-12-31 00:00:00-05:00,22.519333,22.614000,21.684000,22.186666,94534500,0.0,0.0
2019-01-02 00:00:00-05:00,20.406668,21.008667,19.920000,20.674667,174879000,0.0,0.0
2019-01-03 00:00:00-05:00,20.466667,20.626667,19.825333,20.024000,104478000,0.0,0.0
2019-01-04 00:00:00-05:00,20.400000,21.200001,20.181999,21.179333,110911500,0.0,0.0
2019-01-07 00:00:00-05:00,21.448000,22.449333,21.183332,22.330667,113268000,0.0,0.0
...,...,...,...,...,...,...,...
2025-07-24 00:00:00-04:00,310.000000,310.149994,300.410004,305.299988,156966000,0.0,0.0
2025-07-25 00:00:00-04:00,308.739990,323.630005,308.010010,316.059998,148227000,0.0,0.0
2025-07-28 00:00:00-04:00,318.450012,330.489990,315.690002,325.589996,112673800,0.0,0.0
2025-07-29 00:00:00-04:00,325.549988,326.250000,318.250000,321.200012,87358900,0.0,0.0
2025-07-30 00:00:00-04:00,322.179993,324.450012,311.619995,319.040009,83931900,0.0,0.0

### Date Time Manipulation to ensure same type as MacroTrends Dataframe

In [12]:
tsla_2019_2024=tsla_2019_2024.reset_index(drop=False)
tsla_2019_2024['Date']=pd.to_datetime(tsla_2019_2024['Date'], dayfirst=True)
tsla_2019_2024['Date']=tsla_2019_2024['Date'].dt.date
tsla_2019_2024.rename(columns={'Date': 'date'}, inplace=True)

In [13]:
tsla_2019_2024

,date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2018-12-31,22.519333,22.614000,21.684000,22.186666,94534500,0.0,0.0
1,2019-01-02,20.406668,21.008667,19.920000,20.674667,174879000,0.0,0.0
2,2019-01-03,20.466667,20.626667,19.825333,20.024000,104478000,0.0,0.0
3,2019-01-04,20.400000,21.200001,20.181999,21.179333,110911500,0.0,0.0
4,2019-01-07,21.448000,22.449333,21.183332,22.330667,113268000,0.0,0.0
...,...,...,...,...,...,...,...,...
1649,2025-07-24,310.000000,310.149994,300.410004,305.299988,156966000,0.0,0.0
1650,2025-07-25,308.739990,323.630005,308.010010,316.059998,148227000,0.0,0.0
1651,2025-07-28,318.450012,330.489990,315.690002,325.589996,112673800,0.0,0.0
1652,2025-07-29,325.549988,326.250000,318.250000,321.200012,87358900,0.0,0.0
1653,2025-07-30,322.179993,324.450012,311.619995,319.040009,83931900,0.0,0.0

### Check for days markets were closed (Should be the same)

In [14]:
tsla_missing_dates=pd.date_range(start = tsla_2019_2024['date'].min(), end = tsla_2019_2024['date'].max(), freq = 'D').difference(tsla_2019_2024['date'])
print(f"Number of Datapoints:\t{len(tsla_2019_2024)}\nNo. Dates Markets Closed:\t{len(missing_dates)}\nDates:\t{missing_dates}")

Number of Datapoints:	1654
No. Dates Markets Closed:	750
Dates:	DatetimeIndex(['2019-01-01', '2019-01-05', '2019-01-06', '2019-01-12',
               '2019-01-13', '2019-01-19', '2019-01-20', '2019-01-21',
               '2019-01-26', '2019-01-27',
               ...
               '2025-06-29', '2025-07-04', '2025-07-05', '2025-07-06',
               '2025-07-12', '2025-07-13', '2025-07-19', '2025-07-20',
               '2025-07-26', '2025-07-27'],
              dtype='datetime64[ns]', length=750, freq=None)

In [15]:
type(macro_trends_df_2019_2024['date'][0])

datetime.date

In [16]:
type(tsla_2019_2024['date'][0])

datetime.date

### Discrepancies

In [17]:
# Find rows in df1 not in df2
missing_in_df2 = macro_trends_df_2019_2024.merge(tsla_2019_2024, on='date', how='left', indicator=True)
missing_rows = missing_in_df2[missing_in_df2['_merge'] == 'left_only']
print(f"Discrepancies:\t{len(missing_rows)}\n{missing_rows}")

Discrepancies:	2
            date     open    high     low   close    volume  Open  High  Low  \
1654  2025-07-31  319.605  321.37  306.10  308.27  85270919   NaN   NaN  NaN
1655  2025-08-01  306.205  309.31  297.82  303.00  86304734   NaN   NaN  NaN

      Close  Volume  Dividends  Stock Splits     _merge
1654    NaN     NaN        NaN           NaN  left_only
1655    NaN     NaN        NaN           NaN  left_only

#### Comments: 
Yahoo! Finance free-tier API probably not yet updated as of current time, can expect some time lag as file is run throughout project

## Further Data verification between sources

In [32]:
import random
import matplotlib as plt
import numpy as np
random.seed(89)
for i in range(5):
    rdm_idx=random.randint(0,min(len(macro_trends_df_2019_2024),len(tsla_2019_2024)))
    if(rdm_idx not in missing_rows.index):
        print(macro_trends_df_2019_2024.loc[rdm_idx])
        print(tsla_2019_2024.loc[rdm_idx])
        ## Unit mismatch check:
        #df=
        volume_ratio=tsla_2019_2024['Volume'] / macro_trends_df_2019_2024['volume']
        volume_ratio = volume_ratio.replace([np.inf, -np.inf], np.nan).dropna()
        rounded_ratio = volume_ratio.round(1)
        print(rounded_ratio.value_counts())
        #rounded_ratio.hist(bins=50)
        #plt.title("Distribution of Volume Ratios")
        #plt.xlabel("Volume Ratio (TSLA / MacroTrends)")
        #plt.ylabel("Frequency")
        #plt.show()

date      2019-08-28
open          14.246
high         14.4834
low           14.154
close        14.3727
volume       3238637
Name: 166, dtype: object
date            2019-08-28
Open                14.246
High             14.483333
Low                 14.154
Close            14.372667
Volume            48382500
Dividends              0.0
Stock Splits           0.0
Name: 166, dtype: object
1.0     734
3.0     499
15.0    383
14.9     20
14.7      7
14.8      6
14.6      1
7.0       1
13.5      1
15.2      1
2.9       1
Name: count, dtype: int64
date      2025-04-02
open           254.6
high          284.99
low           251.27
close         282.76
volume     212787812
Name: 1572, dtype: object
date            2025-04-02
Open            254.600006
High             284.98999
Low             251.270004
Close            282.76001
Volume           212787800
Dividends              0.0
Stock Splits           0.0
Name: 1572, dtype: object
1.0     734
3.0     499
15.0    383
14.9     20
14.7      7
14.8      6
14.6      1
7.0       1
13.5      1
15.2      1
2.9       1
Name: count, dtype: int64
date      2023-12-06
open          242.92
high          246.57
low          239.171
close         239.37
volume     126436203
Name: 1242, dtype: object
date            2023-12-06
Open            242.919998
High            246.570007
Low             239.169998
Close           239.369995
Volume           126436200
Dividends              0.0
Stock Splits           0.0
Name: 1242, dtype: object
1.0     734
3.0     499
15.0    383
14.9     20
14.7      7
14.8      6
14.6      1
7.0       1
13.5      1
15.2      1
2.9       1
Name: count, dtype: int64
date      2024-09-20
open          241.52
high          243.99
low           235.92
close         238.25
volume      99879070
Name: 1440, dtype: object
date            2024-09-20
Open            241.520004
High            243.990005
Low             235.919998
Close               238.25
Volume            99879100
Dividends              0.0
Stock Splits           0.0
Name: 1440, dtype: object
1.0     734
3.0     499
15.0    383
14.9     20
14.7      7
14.8      6
14.6      1
7.0       1
13.5      1
15.2      1
2.9       1
Name: count, dtype: int64
date      2021-02-08
open          289.89
high          292.59
low          284.916
close        287.806
volume      20161744
Name: 530, dtype: object
date            2021-02-08
Open            289.890015
High            292.589996
Low             284.916656
Close           287.806671
Volume            60485100
Dividends              0.0
Stock Splits           0.0
Name: 530, dtype: object
1.0     734
3.0     499
15.0    383
14.9     20
14.7      7
14.8      6
14.6      1
7.0       1
13.5      1
15.2      1
2.9       1
Name: count, dtype: int64

### Comments:
We can see that there are discrepancies in the sources for trading volumes on the same day. Detailed analysis suggested that Yahoo! Finance takes into account stock splits and post-hoc updates this field, leading to a larger value for values prior to 2022-08-25 and 2020-08-31.

Since the sources are not identical and Yahoo! Finance is known to lag behind in data values returned, going forward, only the MacroTrends source will be used for the stock price data for the period between 2019-01-01 and 2024-12-31 for training data. Test Data will be 2025-01-01 to 2025-07-31. Validation will be 2025-08-01 to latest date when demostrating live update where applicable.

## Save data into a RDBMS engine in this folder

In [33]:
import sqlite3
tsla_stock_db = 'TSLA_Stock_Price_2019_2024'
conn = sqlite3.connect(tsla_stock_db)
c = conn.cursor()

In [34]:
c.execute('DROP TABLE IF EXISTS stockprice;')
conn.commit()

In [35]:
c.execute('CREATE TABLE IF NOT EXISTS stockprice (date TEXT PRIMARY KEY, open REAL, high REAL, low REAL, close REAL, volume INTEGER);')
conn.commit()

In [37]:
macro_trends_df_2019_2024

            date      open      high       low     close     volume
0     2018-12-31   22.5193   22.6139   21.6839   22.1866    6302332
1     2019-01-02   20.4066   21.0086   19.9199   20.6746   11658638
2     2019-01-03   20.4667   20.6267   19.8253   20.0240    6965198
3     2019-01-04   20.4000   21.2000   20.1820   21.1793    7394118
4     2019-01-07   21.4479   22.4493   21.1833   22.3306    7551218
...          ...       ...       ...       ...       ...        ...
1651  2025-07-28  318.4500  330.4900  315.6900  325.5900  112673797
1652  2025-07-29  325.5500  326.2500  318.2500  321.2000   87358867
1653  2025-07-30  322.1800  324.4500  311.6160  319.0400   83931938
1654  2025-07-31  319.6050  321.3700  306.1000  308.2700   85270919
1655  2025-08-01  306.2050  309.3100  297.8200  303.0000   86304734

[1656 rows x 6 columns]

In [38]:
macro_trends_df_2019_2024.to_sql(name='stockprice',con=conn,if_exists='replace',index=False)
#conn.commit()

1656

## Verify that data is saved to RDBMS and can be retrieved with SQL queries

In [40]:
query="""
    SELECT * 
    FROM stockprice
    WHERE date LIKE '2019%'
    """
tsla2019 = sql.read_sql(query, con=conn)
tsla2019

     index        date     open     high      low    close    volume
0        1  2019-01-02  20.4066  21.0086  19.9199  20.6746  11658638
1        2  2019-01-03  20.4667  20.6267  19.8253  20.0240   6965198
2        3  2019-01-04  20.4000  21.2000  20.1820  21.1793   7394118
3        4  2019-01-07  21.4479  22.4493  21.1833  22.3306   7551218
4        5  2019-01-08  22.7973  22.9339  21.8013  22.3566   7008511
..     ...         ...      ...      ...      ...      ...       ...
247    248  2019-12-24  27.8907  28.3647  27.5125  28.3500   8054735
248    249  2019-12-26  28.5273  28.8986  28.4233  28.7293  10648300
249    250  2019-12-27  29.0000  29.0207  28.4073  28.6920   9956844
250    251  2019-12-30  28.5859  28.5999  27.2839  27.6466  12601266
251    252  2019-12-31  26.9999  28.0859  26.8053  27.8886  10292456

[252 rows x 7 columns]